{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #7e3866;
    width: 100%;
    clear: both;
    content:'';
    display: table;
}
nav{
    float: center;
}
nav ul li{
    list-style: none;
    margin-left: 200px;
    padding: 12px 0;
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: #f38dc7;
    font-weight: lighter;
    transition: color 0.2s;
}
nav ul li a:hover{
    color: #d3bfd0;
}